body {
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: rgb(0, 0, 0);
}
.jumbotron {
  background-image: url("sparkle.jpg");
  background-size: cover;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  background-position: center;
  display: flex;
  align-items: center;
}

.navbar-dark {
  background-color: rgb(61, 61, 61);
  color: rgb(251, 200, 99);
}

.bigtext {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  color: rgb(251, 200, 99);
  font-weight: bold;
  text-shadow: 2px 2px 14px #3d3d3d;
}
