<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <div class="justify-content mb-2">
      <form method="POST" action="https://api.slapform.com/discotraystudios@gmail.com">
        <div class="field mb-2">
          <!-- <label for="name">Name</label> -->
          <input required="true" placeholder="Name" class="form-control" type="text" name="name" id="name" />
        </div>
        <div class="field mb-2">
          <!-- <label for="email">Email</label> -->
          <input required="true" placeholder="Email" class="form-control" type="email" name="slap_replyto" id="email" /> 
        </div>
        <div class="field mb-2">
          <!-- <label for="message">Message</label> -->
          <textarea required="true" placeholder="Message" class="form-control" name="message" id="message" rows="3"></textarea>
        </div>
        <ul class="actions">
          <ul><input class="btn btn-xl btn-primary" type="submit" value="Send Message" /></li>
        </ul>
        <!--<input type="hidden" name="slap_redirect" value="{{site.url}}{{site.slapform_thankyou_page}}" />  -->
      </form>
    </div> 
    <div class="row justify-content-center">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        <a class="d-block text-dark" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



