<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-secondary" id="mainNav">
  <div class="container">
    <img src="assets/img/DiscoTray_logo_bling-2.png" width="95" alt="" class="d-inline-block align-middle mr-2">
    <a class="navbar-brand js-scroll-trigger pt-3" href="#page-top">{{ site.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {% for item in site.data.menus.header  %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-warning" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
