---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons"
;

#mainwords {
        color: white;
        font-size: 500%;
        text-shadow:
                -3px -3px 0 #000,
                3px -3px 0 #000,
                -3px 3px 0 #000,
                3px 3px 0 #000;

     }

#mainwords1 {
        color: white;
        font-size: 1.9rem;;
        text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;

     }

.blog-image img {
  width:100%; 
//   float: left;      
}

.avatar img{
   width:100%;
   margin-bottom: 15px;     
}

.navbar-toggler-icon{
  color:#FBC863;       
}
