---
layout: base
---

{%- assign date_format = site.minima.date_format | default: "on %b %-d, %Y" -%}

<!-- Header -->
<header class="masthead pagehead mt-5 bg-secondary" {% if page.background_image %} style="background-image: {{ page.background_image }}"{% endif %} >
  <div class="container h-100">
    <!-- <div class="row"></div> -->
  </div>
</header>

<div class = "container {{ page.background_style }}">
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-lg-10 ">
      <h1 class="text-uppercase text-white font-weight-bold">{{ page.title }}</h1>
      <hr class="divider my-4">
    </div>
  </div>

  <div class="avatar-area">
    <a class="avatar" href="{{page.authorhome}}"><img src="{{site.baseurl}}{{page.avatar}}" alt="Profile Image"></a>
    <div class="right-area">
      <a class="name" href="{{page.authorhome}}"><b>{{page.author}}</b></a>
      <h6 class="date">{{ page.date | date: date_format }}</h6>
    </div>
  </div>



<!-- include content as section -->
{% assign content = content | strip_newlines %}
{% if content != "" %}
<section class="blog-section {{ page.background_style }}">
    {{ content }}
</section>
{% endif %}
</div>
